.nav-link{
    color: white !important;
}

.nav-link:hover{
    background-color: rgb(211, 177, 177) !important;
    border-radius: 10px;
}

hr.rounded{
    border-top: 8px solid lightblue ;
    border-radius: 6px;
}